<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daru.s1.member.MemberDAO">

	<insert id="addFile" parameterType="MemberFileDTO">
		INSERT INTO MEMBERFILE (FILENUM, ID, FILENAME, ORINAME)
		VALUES (FILE_SEQ.NEXTVAL, #{id}, #{fileName}, #{oriName})
	</insert>
	
	<select id="mypage" parameterType="MemberDTO" resultMap="mypageResult">
		SELECT ID, M.NAME, M.EMAIL, M.PHONE, MF.FILENUM, MF.FILENAME, MF,ORINAME
		FROM 
			MEMBER M
				LEFT JOIN
			MEMBERFILE MF
			USING(ID)
		WHERE ID = #{id}
	</select>
	
	<insert id="join" parameterType="MemberDTO">
		INSERT INTO MEMBER (id, pw, name, phone, email)
		VALUES (#{id}, #{pw}, #{name}, #{phone}, #{email})
	</insert>
	
	<select id="login" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT ID, NAME FROM MEMBER
		WHERE ID=#{id} AND PW=#{pw}
	</select>
	
	
	<resultMap type="MemberDTO" id="mypageResult">
		<id column="id" property="id"/><!-- pk로쓰는걸 넣으셈 -->
		<result column="name" property="name"/><!-- pk를 제외한 나머지  -->
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<association property="memberFileDTO" javaType="MemberFileDTO">
			<id column="fileNum" property="fileNum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</association> <!-- 1:1일때사용 -->
		<!-- 1:N일때 사용 <collection property=""></collection>    -->
	</resultMap>
	
</mapper>