<?xml version="1.0" encoding="UTF-8"?> <!-- 이건 xml이다 -->
<!-- 스키마 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daru.s1.board.notice.NoticeDAO">
	<!-- list -->
	<select id="list" resultType="NoticeDTO" parameterType="Pager">
		select * from
		(SELECT rownum R, B.* FROM 
		        (SELECT * FROM NOTICE WHERE 
		        NUM>0 
		        	and 
		        	<choose>
		        		<when test="kind=='col1'">
		        			TITLE
		        		</when>
		        		<when test="kind=='col2'">
		        			CONTENTS
		        		</when>
		        		<otherwise>
		        			WRITER
		        		</otherwise>
		        	</choose>
		        	LIKE '%'||#{search}||'%'
		            ORDER BY NUM DESC
		         ) B
		     )
		WHERE R between #{startRow} and #{lastRow}
	</select>
	
	
	<select id="listFile" parameterType="BoardDTO" resultType="NoticeFileDTO">
		SELECT * FROM NOTICEFILE
		WHERE NUM = #{num}
	</select>
	
	
	<select id="detailFile" parameterType="NoticeFileDTO" resultType="NoticeFileDTO">
		SELECT * FROM NOTICEFILE
		WHERE FILENUM=#{fileNum}
	</select>
	
	
	<!-- total -->
	<select id="total" resultType="Long" parameterType="Pager">
 		SELECT COUNT(NUM) FROM NOTICE
 		WHERE
 			NUM>0 
		    and 
		    <choose>
		        		<when test="kind=='col1'">
		        			TITLE
		        		</when>
		        		<when test="kind=='col2'">
		        			CONTENTS
		        		</when>
		        		<otherwise>
		        			WRITER
		        		</otherwise>
		        	</choose>
        	LIKE '%'||#{search}||'%' 
 	</select>

	<update id="update" parameterType="NoticeDTO">
		update notice set title=#{title}, contents=#{contents}
		where num=#{num}	
	</update>

	
	<select id="detail"
		parameterType="NoticeDTO" resultMap="detailResult">
		SELECT N.*, NF.*
		FROM 
			NOTICE N
				LEFT JOIN
			NOTICEFILE NF
			ON N.NUM=NF.NUM 
		WHERE N.NUM = #{num}
	</select>
	
	<resultMap type="NoticeDTO" id="detailResult">
		<id column="num" property="num"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="contents" property="contents"/>
		<result column="regDate" property="regDate"/>
		<result column="hit" property="hit"/>
		<collection property="fileDTOs" javaType="List" ofType="NoticeFileDTO">
			<id column="fileNum" property="fileNum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>

	<select id="seqNum" resultType="Long">
		<!-- select max(num) from notice -->
		SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
	</select>
	
	<insert id="addFile" parameterType="BoardFileDTO">
		insert into noticefile (FILENUM, NUM, FIlENAME, ORINAME)
		values (FILE_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
	</insert>

	<insert id="add" parameterType="NoticeDTO">
		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		insert into notice
		values(#{num},#{title},#{contents},#{writer},sysdate,0)
	</insert>
	
	
	<delete id="delete" parameterType="NoticeDTO">
		delete notice where num=#{num}
	</delete>
</mapper>